/* This file is for your main application css. */

@import "./phoenix.css";

.help-block {
    color: red;
    font-size: 19px;
    text-transform: capitalize;
    position: absolute;
    top: 65px;
}

.form-group {
    position: relative;
    margin-bottom: 37px;
}
